.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



h1 {
  background-color: lightseagreen;
  border-radius: 30vh;
  height: 15vh;
  color: white;
  align-items: center;
  display: block;
  padding-top: 30px;
  padding-bottom: 0;
}

.input {
  width: 60vw;
  border-radius: 10px;
  height: 2vw;
  margin: 20px;
  
}

.table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

td  {
  border: solid gainsboro;
  padding: 1vw;
}
  

thead {
  width: 60vw;
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
}